

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #ef4444;
    --off-white: #f3f4f6;
    --dark-grey: #475569;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* margin: 1rem; */
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.secondary-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-size: 1.1rem;
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.nav-pills .link {
    color: white;
}

.link-active {
    font-weight: bold;
}

/* header */

.hero {
    padding: 2rem 0rem;
    text-align: center;
}

.hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero-heading {
    color: var(--dark-grey);
    padding-top: 1rem;
}

.hero .hero-heading .different {
    color: var(--primary-color);
}

/* sections */

.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
}

.footer ul {
    padding-inline-start: 0%;
}